input{
    padding: 12px 24px;
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    align-self: center;
    text-align: center;
  }

button{
    border: 30px, 10px;
    margin: 10px;
    color: red;
    right: 100px;
  }

h1{
  margin: auto;
  width: 50%;
  padding: 20px;
  border: 2px solid blue;
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

h4{
  margin: 50px;
  text-align: center;
}

li{
  text-align: center;
  list-style-position: inside;
}

form{
  text-align: center;
  margin: 20px;
}
